<div class="container p-4 border-2">
  <h2 class="text-2xl font-semibold border-b-2">{{ newAccount.name }}</h2>

  <p class="my-4">{{ newAccount.status }}</p>

  <button
    class="inline-flex px-6 py-2 text-lg text-white bg-indigo-500 border-0 rounded focus:outline-none hover:bg-indigo-600"
  >
    Set to Active
  </button>

  <button
    class="inline-flex px-6 py-2 ml-4 text-lg text-white bg-indigo-500 border-0 rounded focus:outline-none hover:bg-indigo-600"
  >
    Set to Inactive
  </button>

  <button
    class="inline-flex px-6 py-2 ml-4 text-lg text-white bg-indigo-500 border-0 rounded focus:outline-none hover:bg-indigo-600"
  >
    Set to Pending
  </button>
</div>
