<div class="container flex flex-col gap-4 mx-auto">
  <h1 class="pt-8 text-3xl font-semibold border-b-2">
    Angular - Complete Guide Course
  </h1>
  <h2 class="text-2xl font-semibold border-b-2">The basics</h2>
  <app-warning-alert></app-warning-alert>
  <app-success-alert></app-success-alert>
</div>

<div class="container flex flex-col gap-4 pt-8 mx-auto">
  <h2 class="text-2xl font-semibold border-b-2">Components and Data binding</h2>
  <app-cockpit (serverCreated)="onAddServer($event)"></app-cockpit>
  <app-server-element
    *ngFor="let serverElement of serverElements"
    [element]="serverElement"
  ></app-server-element>
</div>
