<div class="container" *ngIf="!isAssignmentOn">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
        <div id="user-data" ngModelGroup="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="username"
              required
              #username="ngModel"
            />
            <span
              class="help-block"
              *ngIf="username.invalid && username.touched"
              >Please enter a valid username!</span
            >
          </div>

          <button class="btn btn-default" type="button" (click)="suggestName()">
            Suggest an Username
          </button>

          <button class="btn btn-danger" type="button" (click)="fillForm()">
            Fill the form with default
          </button>

          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel"
            />
            <span class="help-block" *ngIf="email.invalid && email.touched"
              >Please enter a valid email!</span
            >
          </div>
        </div>

        <div
          id="security-question"
          ngModelGroup="secQuestion"
          #secQuestion="ngModelGroup"
        >
          <div class="form-group">
            <label for="secret">Secret Questions</label>
            <select
              id="secret"
              class="form-control"
              [ngModel]="'teacher'"
              name="secret"
            >
              <option value="pet">Your first Pet?</option>
              <option value="teacher">Your first teacher?</option>
            </select>
          </div>

          <div class="form-group">
            <label for="questionAnswer">Type your answer</label>
            <textarea
              name="questionAnswer"
              rows="3"
              class="form-control"
              [(ngModel)]="answer"
              #questionAnswer="ngModel"
            ></textarea>
            <p *ngIf="questionAnswer.dirty" class="help-block">
              Your answer is: {{ answer }}
            </p>
          </div>
          <p class="help-block" *ngIf="secQuestion.pristine">
            We recommend you set up a security question before submitting the
            form.
          </p>
        </div>

        <div class="form-group">
          <label for="genders">Select you gender</label>
          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input
                type="radio"
                ngModel
                name="gender"
                [value]="gender"
                required
              />
              {{ gender }}
            </label>
          </div>
        </div>

        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!myForm.valid"
        >
          Submit
        </button>

        <button class="btn btn-danger" type="button" (click)="resetForm()">
          Reset
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h2>Form Data</h2>
      <p>Username: {{ formData.username }}</p>
      <p>Mail: {{ formData.email }}</p>
      <p>Secret Question: {{ formData.secretQuestion }}</p>
      <p>Answer: {{ formData.answer }}</p>
      <p>Gender: {{ formData.gender }}</p>
    </div>
  </div>
</div>

<hr />

<div class="container" *ngIf="isAssignmentOn">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h1>Form Assignment</h1>

      <hr />

      <form (ngSubmit)="submitForm()" #registerForm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
            #email="ngModel"
          />
          <span class="help-block" *ngIf="email.invalid && email.touched"
            >Please insert a valid email.</span
          >
        </div>

        <div id="userPassword" ngModelGroup="userPassword">
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              ngModel
              name="password"
              required
              pattern="^(?=.*[a-zA-Z])(?=.*\d).{6,}$"
              #password="ngModel"
            />
            <span
              class="help-block"
              *ngIf="password.invalid && password.touched"
              >Please insert a valid password. Min length is 6 and contains at
              least 1 letter and 1 char.</span
            >
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              ngModel
              name="confirmPassword"
              required
              pattern="^(?=.*[a-zA-Z])(?=.*\d).{6,}$"
              #confirmPassword="ngModel"
            />
            <span
              class="help-block"
              *ngIf="
                confirmPassword.value !== password.value &&
                confirmPassword.touched
              "
              >Please ensure passwords match.</span
            >
          </div>
        </div>

        <div class="form-group">
          <label for="subscriptionPlan">Select your subscription plan</label>
          <select
            class="form-control"
            name="plans"
            id="plans"
            ngModel
            required
            #plans="ngModel"
          >
            <option *ngFor="let plan of subscriptionPlans" value="{{ plan }}">
              {{ plan }}
            </option>
          </select>
          <span class="help-block" *ngIf="plans.invalid"
            >Please select a subscription plan.</span
          >
        </div>

        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!registerForm.valid"
        >
          Submit
        </button>

        <button
          class="btn btn-danger"
          type="button"
          (click)="resetForm()"
          [disabled]="registerForm.pristine"
        >
          Reset
        </button>
      </form>

      <hr />

      <h2>Form Data</h2>
      <p>Email: {{ registrationData.email }}</p>
      <p>Password: {{ registrationData.password }}</p>
      <p>Confirm Password: {{ registrationData.confirmPassword }}</p>
      <p>Subscription Plan: {{ registrationData.subscriptionPlan }}</p>
    </div>
  </div>
</div>
