<div class="container">
  <h2
    [ngClass]="{
      'bg-green-500': isConfirmed,
    }"
    class="flex items-center justify-between p-8 text-black bg-red-600"
  >
    <span *ngIf="!isConfirmed; else confirmText"
      >Warning text - Are you sure you want to proceed?</span
    >
    <ng-template #confirmText>
      <span class="font-bold">Operation done</span>
    </ng-template>
    <button
      class="inline-flex px-6 py-2 text-lg text-white bg-indigo-500 border-0 rounded cursor-pointer focus:outline-none hover:bg-indigo-600"
      (click)="confirm()"
      [disabled]="!confirmButton"
    >
      Confirm
    </button>
  </h2>
</div>
